<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test-method Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7690be">  <td>17/10/02 13:52:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelMethods.close()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-1@1352382940</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:52:36</td>   <td>14833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelMethods.close()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-1@1352382940</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:52:39</td>   <td>17909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ParallelMethods.close()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-1@1352382940</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:52:35</td>   <td>14356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethods.navigatetoAmazonHomepage()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">navigatetoAmazonHomepage</td> 
  <td>TestNG-test=Test-method test-1@1352382940</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:52:19</td>   <td>-1657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethods.navigatetoFacebookHomepage()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">navigatetoFacebookHomepage</td> 
  <td>TestNG-test=Test-method test-2@796836996</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:52:35</td>   <td>13926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelMethods.navigatetoGoogleHomepage()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">navigatetoGoogleHomepage</td> 
  <td>TestNG-test=Test-method test-3@1179077550</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:51:47</td>   <td>-33735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelMethods.setUp()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-3@1179077550</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:51:47</td>   <td>-33735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelMethods.setUp()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-3@1179077550</td>   <td></td> </tr>
<tr bgcolor="7690be">  <td>17/10/02 13:51:47</td>   <td>-33735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ParallelMethods.setUp()[pri:0, instance:com.testparallel.methods.ParallelMethods@4cf777e8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-method test-3@1179077550</td>   <td></td> </tr>
</table>
