<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bca669">  <td>17/10/02 13:49:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowser.beforeTest(java.lang.String)[pri:0, instance:com.differentbrowsers.test.MultiBrowser@73ad2d6]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@274658455</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/02 13:49:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowser.beforeTest(java.lang.String)[pri:0, instance:com.differentbrowsers.test.MultiBrowser@64bf3bbf]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@642544724</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/02 13:49:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MultiBrowser.beforeTest(java.lang.String)[pri:0, instance:com.differentbrowsers.test.MultiBrowser@6adede5]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@86374475</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/02 13:49:49</td>   <td>7724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.test()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@6adede5]">test</td> 
  <td>TestNG-tests-2@86374475</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/02 13:49:51</td>   <td>9126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.test()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@73ad2d6]">test</td> 
  <td>TestNG-tests-1@274658455</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/02 13:49:51</td>   <td>9741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.testFacebook()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@6adede5]">testFacebook</td> 
  <td>TestNG-tests-2@86374475</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/02 13:49:52</td>   <td>10673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.testFacebook()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@73ad2d6]">testFacebook</td> 
  <td>TestNG-tests-1@274658455</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/02 13:49:53</td>   <td>11926</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiBrowser.afterTest()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@6adede5]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@86374475</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/02 13:49:54</td>   <td>12774</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiBrowser.afterTest()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@73ad2d6]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@274658455</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/02 13:50:12</td>   <td>30223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.test()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@64bf3bbf]">test</td> 
  <td>TestNG-tests-3@642544724</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/02 13:50:14</td>   <td>32210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MultiBrowser.testFacebook()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@64bf3bbf]">testFacebook</td> 
  <td>TestNG-tests-3@642544724</td>   <td></td> </tr>
<tr bgcolor="bca669">  <td>17/10/02 13:50:16</td>   <td>34734</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;MultiBrowser.afterTest()[pri:0, instance:com.differentbrowsers.test.MultiBrowser@64bf3bbf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@642544724</td>   <td></td> </tr>
</table>
